## 差分更新

In [11]:
import pandas as pd
df1 = pd.read_csv('/Users/AonoKazushi/Desktop/Mugisake_KA01 - sheet9.csv')
df2 = pd.read_csv('/Users/AonoKazushi/Desktop/Mugisake_KA01 - sheet92.csv')

In [16]:
col = 'url'

In [17]:
df1_only = df1[~df1[col].isin(df2[col])]
df2_only = df2[~df2[col].isin(df1[col])]

In [20]:
df2_only

,level_0,index,_id,name,price,price_kanri,price_tsumitate,layout,area,age,...,traffic,traffic_tx,url,Keido,Ido,train_station,time_walk,price_pred,predicted_price,discounted_price
864,864,0,63ccf8ced3de257746e328eakaz,青野ビル,56800000,15200,13930,4LDK,87.06,2017,...,東京メトロ千代田線「北綾瀬」歩10分,つくばエクスプレス「六町」歩9分,https://suumo.jp/ms/chuko/tokyo/sc_adachi/nc_7...,139.826294,35.780365,六町,9,64731618.18,53414500,-3385500

In [59]:
df3 = pd.read_csv('/Users/AonoKazushi/Desktop/Mugisake_KA01 - sheet1.csv')
df4 = pd.read_csv('/Users/AonoKazushi/Desktop/Mugisake_KA01 - sheet1First.csv')

In [60]:
col = 'url'
df3_only = df3[~df3[col].isin(df4[col])]
df4_only = df4[~df4[col].isin(df3[col])]

In [61]:
len(df3_only)

448

In [62]:
df3_index = df3[~df3[col].isin(df4[col])].index
df3_index

Int64Index([  0,   2,   6,   7,  10,  12,  15,  16,  18,  19,
            ...
            909, 913, 914, 915, 916, 917, 919, 921, 924, 925],
           dtype='int64', length=448)

In [63]:
import datetime

date_format = '%Y/%m/%d'
today = datetime.datetime.now().strftime(date_format)

In [64]:
df3.loc[4,'url']

'https://suumo.jp/ms/chuko/tokyo/sc_adachi/nc_71062606/'

In [74]:
indices = df4.index[df4['url'].isin([df3.loc[4,'url']])]
df4.loc[indices,'name'][2]

'五反野スカイハイツ \u3000【マンション】'

In [76]:
for i, row in df3.iterrows():
    if i in df3_index:
        df3.loc[i, 'name'] = today
    else:
        indices = df4.index[df4['url'].isin([df3.loc[4,'url']])]
        df3.loc[i, 'name'] = df4.loc[indices,'traffic'][2]

In [77]:
df3

,index,_id,name,price,price_kanri,price_tsumitate,layout,area,age,floor,direction,reform,address,traffic,traffic_tx,url
0,0,63fbc68597ceb50574fde71a,2023/03/05,19800000,9210,9600,1LDK,43.47,1981年4月,5,西,2023年2月完了,東京都足立区東和５,東京メトロ千代田線「北綾瀬」歩6分,つくばエクスプレス「青井」歩27分,https://suumo.jp/ms/chuko/tokyo/sc_adachi/nc_7...
1,0,63fbc68697ceb50574fde71b,東武伊勢崎線「五反野」歩11分,20800000,15000,27030,2LDK,57.51,1992年6月,3,西,2018年3月完了,東京都足立区加平２,東京メトロ千代田線「北綾瀬」歩10分,つくばエクスプレス「六町」歩12分,https://suumo.jp/ms/chuko/tokyo/sc_adachi/nc_7...
2,0,63fbc68897ceb50574fde71c,2023/03/05,21800000,6000,7581,1LDK,40.27,1974年10月,7,南東,2023年1月完了,東京都板橋区東坂下２,東京メトロ千代田線「北千住」歩9分,東京メトロ千代田線「北千住」歩9分,https://suumo.jp/ms/chuko/tokyo/sc_itabashi/nc...
3,0,63fbc68897ceb50574fde71d,東武伊勢崎線「五反野」歩11分,21900000,11700,5450,1LDK,38.10,1988年4月,6,東,2022年10月完了,東京都足立区梅島１-24-1,東武伊勢崎線「梅島」歩8分,東京メトロ千代田線「北千住」バス8分弥生町歩3分,https://suumo.jp/ms/chuko/tokyo/sc_adachi/nc_7...
4,0,63fbc68a97ceb50574fde71e,東武伊勢崎線「五反野」歩11分,22800000,8800,4920,2LDK+S（納戸）,58.36,1976年4月,1,南東,2016年6月完了,東京都足立区中央本町３-14-25,東武伊勢崎線「五反野」歩11分,つくばエクスプレス「青井」歩18分,https://suumo.jp/ms/chuko/tokyo/sc_adachi/nc_7...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
921,0,63fbcfd297ceb50574fdeab3,2023/03/05,110000000,29200,32850,3LDK+2S（納戸）,115.66,1994年2月,11,南,2017年11月完了,東京都台東区元浅草３,都営大江戸線「新御徒町」歩4分,都営大江戸線「新御徒町」歩4分,https://suumo.jp/ms/chuko/tokyo/sc_taito/nc_71...
922,0,63fbcfd497ceb50574fdeab4,東武伊勢崎線「五反野」歩11分,128000000,19560,9360,3LDK,71.92,2018年4月,22,北西,-,東京都千代田区神田東松下町,都営新宿線「岩本町」歩1分,東京メトロ日比谷線「秋葉原」歩4分,https://suumo.jp/ms/chuko/tokyo/sc_chiyoda/nc_...
923,0,63fbcfd597ceb50574fdeab5,東武伊勢崎線「五反野」歩11分,130000000,15240,14280,ワンルーム,72.71,2004年9月,14,東,-,東京都千代田区外神田４,ＪＲ山手線「秋葉原」歩5分,東京メトロ日比谷線「秋葉原」歩7分,https://suumo.jp/ms/chuko/tokyo/sc_chiyoda/nc_...
924,0,63fbcfd697ceb50574fdeab6,2023/03/05,180000000,14160,13300,2LDK,67.69,2004年9月,28,南,-,東京都千代田区外神田４,ＪＲ山手線「秋葉原」歩5分,東京メトロ日比谷線「秋葉原」歩8分,https://suumo.jp/ms/chuko/tokyo/sc_chiyoda/nc_...
925,0,63fbcfd797ceb50574fdeab7,2023/03/05,81800000,19500,17110,3LDK,76.72,2010年1月,8,南,-,東京都荒川区南千住７,東京メトロ日比谷線「南千住」歩1分,東京メトロ日比谷線「南千住」歩1分,https://suumo.jp/ms/chuko/tokyo/sc_arakawa/nc_...

In [164]:
df = pd.read_csv('/Users/AonoKazushi/Downloads/Mugisake_KA01 - sheet11.csv')
df2 = pd.read_csv('/Users/AonoKazushi/Downloads/Mugisake_KA01 - sheet2.csv')

In [165]:
import datetime
#指定の列をキーにして新しくデータに入ったindexを検出する
col = 'url'
df_index = df[~df[col].isin(df2[col])].index
df_index

Int64Index([  0,   2,   6,   7,  10,  12,  15,  16,  18,  19,
            ...
            909, 913, 914, 915, 916, 917, 919, 921, 924, 925],
           dtype='int64', length=448)

In [171]:
#カレンダーのフォーマット指定して本日の日付を取得
date_format = '%Y/%m/%d'
today = datetime.datetime.now().strftime(date_format)
today

'2023/03/05'

In [172]:
[df.loc[5, col]]

['https://suumo.jp/ms/chuko/tokyo/sc_adachi/nc_71566688/']

In [173]:
df2.index[df2[col].isin([df.loc[5, col]])]

Int64Index([4], dtype='int64')

In [174]:
indices = df2.index[df2[col].isin([df.loc[5, col]])]
indices

Int64Index([4], dtype='int64')

In [175]:
date = df2.loc[indices,'date']
date

4    2023/2/16
Name: date, dtype: object

In [163]:
for i, row in df.iterrows():
    if i in df_index:
        df.loc[i, 'date'] = today
    else:
        indices = df2.index[df2[col].isin([df.loc[i, col]])]
        date = df2.loc[indices,'date']
        df.loc[i, 'date'] = date[0]

KeyError: 0